@use '../../sass/abstracts/mixins' as *;

.product {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  height: calc(100vh - 5rem);
  background-image: linear-gradient(rgba(36, 42, 46, 0.903),
      rgba(36, 42, 46, 0.95)),
    url("./../assets/images/adventure.jpg");

  @include respond(tab-port) {
    margin: 2rem;
    height: calc(100vh - 4rem);
  }

  @include respond(phone) {
    margin: 1rem;
    height: calc(100vh - 2rem);
  }
}

.product section {
  width: clamp(80rem, 80%, 90rem);
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;

  @include respond(phone) {
    gap: 12rem;
    width: auto;
    grid-template-columns: 1fr;
  }
}

.product img {
  width: 100%;

  @include respond(phone) {
    width: 100%;
    margin: 0 auto;
  }
}

.product h2 {
  font-family: "Lime";
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-family: 'noto';
  text-indent: 20px;
}

.product section a {
  margin-top: 2rem;
}