@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

:root {
    --color-brand--1: #e9ce21;
    --color-brand--2: #2d86aa;
    --color-brand--3: #339fca;
    --color-brand--hover: #227291;

    --color-dark--0: #242a2e;
    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: #d6dee0;
}

/*
"importCSSModule": {
    "prefix": "csm",
    "scope": "javascript,typescript,javascriptreact",
    "body": ["import styles from './${TM_FILENAME_BASE}.module.css'"],
    "description": "Import CSS Module as `styles`"
  },
*/
